<div class="col-lg-12 flex-container">
	<div id="divLeftBuffer" class="col-md-4">
	</div>
	<div class="col-xs-12 col-md-4 default-panel">
		<p class="panelHeader">Login</p>
		<hr/>
		<p class="text-center">Oh, it's you again...</p>
		<input id="txtUsername" auto-focus="" type="text" name="username_email" class="form-control" placeholder="Username" ng-model="account.username" required>
		<input id="txtPassword" type="password" class="form-control top-buffer-xs" placeholder="Password" ng-model="account.password" required validate-password="keyDown()">
		<button type="button" class="btn button" ng-click='login()'>Go!</button>
		<p id="blankSubmitError" ng-class="{toggle: errorYes}" class="errorNo"></p>
		<div class="col-xs-12 text-right">
			<a class="link" ng-click="recoverPassword()">Forgot your password?</a>
		</div>
	</div>
	<div id="divRightBuffer" class=" col-md-4">
	</div>
</div>
