<div class="col-lg-12">
	<div class="col-xs-0 col-md-4">
	</div>
	<div class="col-xs-12 col-md-4 default-panel signUpPanel">
		<p class="panelHeader">Sign Up!</p>
		<hr/>
		<p class="text-center">Create an account and start submitting your own Rathers</p>
		<input id="txtUsername" type="username" name="username" class="form-control" placeholder="Username" ng-model="account.username" required>
		<input id="txtEmail" name="email" class="form-control top-buffer-xs" placeholder="Email Address" ng-model="account.email" required>
		<input id="txtPassword1" type="password" class="form-control top-buffer-xs" placeholder="Password" ng-model="account.password" required>
		<input id="txtPassword2" ng-change="passwordsMatch()" type="password" class="form-control top-buffer-xs" placeholder="Retype Password" ng-model="account.password2" required>
		<button type="button" class="btn button" ng-click='save_user()'>Go!</button>
		<p id="blankSubmitError" ng-class="{toggle: errorYes}" class="errorNo"></p>
	</div>
	<div class="col-xs-0 col-md-4">
	</div>
</div>
