<div class="col-lg-12 flex-container">
	<div id="divLeftBuffer" class="col-md-4">
	</div>
	<div class="col-xs-12 col-md-4 default-panel">
		<p class="panelHeader">Recover Password</p>
		<hr/>
		<p class="text-center buffer">{{response}}</p>
		<div class="col-xs-0 col-md-3"></div>
		<div class="col-xs-0 col-md-6">
		<button type="button" class="btn button" ng-click='play()'>Go Play</button>
		</div>
		<div class="col-xs-0 col-md-3"></div>
	</div>
	<div id="divRightBuffer" class="col-md-4">
	</div>
</div>
