.navbar {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    /*border-bottom: 2px solid black;*/
    text-transform: uppercase;
    /*box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;*/
}

.navbar-inverse .navbar-nav>li>a {
    color: white !important;
    border-bottom: 2px solid #222222;
}

.navbar-inverse .navbar-nav>li>a:focus {
    color: #FF3E21 !important;
    border-bottom: 2px solid #FF3E21;
}

.navbar-inverse .navbar-nav>.active>a {
    color: #FF3E21 !important;
    border-bottom: 2px solid #FF3E21;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #FF8875 !important;
    border-bottom: 2px solid #FF8875;
}

.nav-icon {
    margin-right: 5px;
}

#homeImage {
    background-image: url(../img/home-icon-orange.png);
}

/* Bootstrap Media Queries */
/* xs */
@media(max-width:767px){
    .navbar-inverse .navbar-nav>li>a {
        border-bottom: 0px solid #222222;
    }
    .navbar-inverse .navbar-nav>li>a:hover {
        border-bottom: 0px solid #222;
    }
    .navbar-inverse .navbar-nav>.active>a {
        border-bottom: 0px solid #222;
    }
    .navbar-inverse .navbar-nav>li>a:focus {
        border-bottom: 0px solid #222;
    }
}
/* s */
@media(min-width:768px){

}
/* m */
@media(min-width:992px){

}
/* lg */
@media(min-width:1200px){

}