<div class="col-xs-12 text-center">
    <h1 class="title">Would You Rather...</h1>
    <div class="col-xs-12 rather-row">
        <div class="col-lg-1"/>
        <div class="col-lg-4 col-md-5">
            <div class="col-xs-12 remove-side-padding">
              <button type="button" ng-click="vote('0'); this.blur()" class="btn default-panel rather-button">{{comparison[0].rather_text}}</button>
            </div>
            <div class="col-xs-12">
              <div class="col-xs-0 col-md-2" />
              <div class="col-xs-6 col-md-4">
                <button type="button" class="btn detail-button glyphicon glyphicon-stats">Stats</button>
              </div>
              <div class="col-xs-6 col-md-4">
                <button type="button" ng-click="sucks('0')" class="btn detail-button glyphicon glyphicon-thumbs-down">This Sucks</button>
              </div>
              <div class="col-xs-0 col-md-2" />
            </div>
        </div>
        <div class="col-lg-2 col-md-2 or-panel">
            <h2>OR</h2>
        </div>
        <div class="col-lg-4 col-md-5">
            <div class="col-xs-12 remove-side-padding">
              <button type="button" ng-click="vote('1')" class="btn default-panel rather-button">{{comparison[1].rather_text}}</button>
            </div>
            <div class="col-xs-12">
              <div class="col-xs-0 col-md-2" />
              <div class="col-xs-6 col-md-4">
                <button type="button" class="btn detail-button glyphicon glyphicon-stats">Stats</button>
              </div>
              <div class="col-xs-6 col-md-4">
                <button type="button" ng-click="sucks('1')" class="btn detail-button glyphicon glyphicon-thumbs-down">This Sucks</button>
              </div>
              <div class="col-xs-0 col-md-2" />
            </div>
        </div>
        <div class="col-lg-1"/>
    </div>
</div>
