<div class="col-lg-12">
	<div class="col-lg-2 col-md-1"></div>
	<div class="col-lg-8 col-md-10 defaultPanel rankPanel">
		<p class="panelHeader topHeader">Top Ranking Rathers</p>
		<hr/>
		<!-- repeater -->
		<div>
			<div class="col-xs-12 orderedRather">
				<div class="col-xs-1 text-right">1</div>
				<div class="col-xs-10">Eat goat meat</div>
			</div>
		</div>
		<!-- second for testing style -->
		<div>
			<div class="col-xs-12 orderedRather">
				<div class="col-xs-1 text-right">2</div>
				<div class="col-xs-10">Cropdust the pope</div>
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-1"></div>
</div>