<div class="col-lg-12">
	<div class="col-md-3 col-xs-2"></div>
	<div class="col-md-6 col-xs-8 defaultPanel submitPanel">
		<p class="panelHeader">Submit a Rather!</p>
		<hr/>
		<p>Would you rather</p>
		<input type="text" class="submitTextBox" ng-model='rather.rather_text'></input>
		<!-- <br/><br/>
		<p>or</p>
		<input type="text" class="submitTextBox" ng-model='rather.rather_text'></input> -->
		<p id="blankSubmitError" ng-class="{toggle: errorYes}" class="errorNo">.</p>
		<div class="col-lg-12 text-center">
			<a class="button" ng-click='create()'>
            	Submit!
        	</a>
		</div>
	</div>
	<div class="col-md-3 col-xs-2"></div>
</div>