@import "source.less";

.accountTextBox {
	margin-bottom: 10px;
}

.bufferBottom {
	margin-bottom: 25px;
}

.signUpPanel {
	margin-top: 10%;
}

.loginPanel {
	margin-top: 12%;
}

.buffer {
	margin-top:35px;
	margin-bottom:35px;
}

.my-rathers {
	cursor:pointer;
	color:white;
}

.my-rathers:hover {
	color: #FF3E21;
	text-decoration: none;
}

.my-rathers:visited {
	color: #FF8875;
}

.rather-info-modal .modal-dialog .modal-content {
  background: #222222 !important;
}

.rather-info-modal .modal-dialog {
  margin-top: 20% !important;
}

@media(max-width:767px) {
	.signUpPanel {
		margin-top: 20%;
	}
	.loginPanel {
		margin-top: 30%;
	}
	.welcome-panel {
		margin-top: 35%
	}
}
/* s */
@media(min-width:768px) {

}
/* m */
@media(min-width:992px){
}
/* lg */
@media(min-width:1200px){
}

@media(max-width:992px) {
}
