@import "source.less";

.banner {
    margin-bottom: 40px;
}

.landing-button {
    font-size: 55px;
    padding: 10px 35px;
    text-transform: uppercase;
    *-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: @navigation-bar;
    color: @font-color-1;
    border-bottom: 2px solid @navigation-bar-dark;
    margin-top: 40px !important;
}

.landing-button:hover {
    margin-top: 44px !important;
    color:@accent-color-1;
    text-decoration: none;
    background: @navigation-bar-dark;
}

.landing-button:active {
    margin-top: 44px !important;
    color:@accent-color-1;
    text-decoration: none;
    background: @navigation-bar-dark;
}

.landing-button:focus {
    margin-top: 44px !important;
    color:@accent-color-1;
    text-decoration: none;
    background: @navigation-bar-dark;
}

.landing-row {
    margin-top: 5%;
    margin-bottom: 10px;
}

.about-content {
    margin-bottom: 15px;
}

.about-title {

}

@media(max-width:767px) {
	.landingRow {
        margin-top: 0%;
    }
    .about-content {
        font-size: 15px;
    }
}
/* s */
@media(min-width:768px) {

}
/* m */
@media(min-width:992px){
}
/* lg */
@media(min-width:1200px){
}

@media(max-width:992px) {
}
