@import "source.less";

body {
    color: @font-color-1;
    font-family: @font-1;
    font-size: 20px;
    font-weight: 500;
    background-repeat: repeat;
    /* Regular Background */
   //  background: @background-color;
   //  background-image: @background-image;

    /* Gradient Background */
    background-image: @background-image, @background-color;
    background-attachment: fixed;
}

h1 {
    font-size: 120px;
    text-transform: uppercase;
    font-weight: bold;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid @accent-color-1;
    margin: 0px -15px;
    padding: 0;
    margin-bottom: 15px;
}

.link {
    color: @font-color-1;
    cursor: pointer;
}

.link:hover {
    color: @main-color;
    text-decoration: none;
}

.title {
    margin-top: 10%;
    font-family: @title-font;
}

.default-panel {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: @navigation-bar;
    color: @font-color-1;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-bottom: 4px solid @navigation-bar-dark;
}

.panelHeader {
    font-size: 45px;
    font-weight: bold;
    text-transform: uppercase;
    color: @font-color-1;
    text-align: center;
}

.errorNo {
    color: @navigation-bar;
    -webkit-transition: 1s linear;
    /*to only change opacity*/
    /*-webkit-transition: opacity 1s linear*/
   -moz-transition: 1s linear;
   -o-transition: 1s linear;
   transition: 1s linear;
}

.errorYes {
    color: @accent-color-1;
}

.button {
    margin-top: 10px;
    height: 45px;
    min-width: 100%;
    cursor: pointer;
    color: @font-color-1;
    background: @main-color;
    border-bottom: 2px solid @main-color-dark;
    padding: 4px 10px;
    font-size: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-transform: uppercase;
}

.button:hover {
    color:@font-color-1-dark;
    text-decoration: none;
    background: @main-color-dark;
    margin-top: 10px !important;
}

.button:hover:focus {
    color:@font-color-1-dark;
    outline: none !important;
}

.button:focus {
  color:@font-color-1;
  outline: none !important;
}

.buttonImage {
    background-repeat: no-repeat;
    height: 15px;
    width: 15px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.top-buffer-xs {
    margin-top: 5px;
}

.top-buffer-sm {
    margin-top: 10px;
}

.top-buffer-md {
    margin-top: 15px;
}

.top-buffer-lg {
    margin-top: 20px
}

.remove-side-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.circled {
    font-size: 15px;
    font-family: initial;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 0px;
    border: 2px solid @font-color-1;
    color: @font-color-1-dark;
    text-align: center;
}

.rather-modal .modal-dialog .modal-content {
  background: @navigation-bar !important;
}

.rather-modal .modal-dialog {
  margin-top: 20% !important;
}

.rather-modal-body {
  padding-top: 10px;
  height:150px;
}

.rather-modal-item {
  margin-bottom: 5px;
}

.btn-modal-close {
  color: @font-color-1;
  background: @main-color;
  border-bottom: 2px solid @main-color-dark;
}

.btn-modal-close:hover {
  color:@font-color-1-dark;
  text-decoration: none;
  background: @main-color-dark;
  border-bottom: 2px solid @main-color-dark;
}

.btn-modal-close:hover:focus {
  color:@font-color-1-dark;
  outline: none !important;
}

.btn-modal-close:focus {
  color:@font-color-1;
  outline: none !important;
}

.custom-footer {
   margin-top: 65px;
}

/* Bootstrap Media Queries */
/* xs */
@media(max-width:500px){
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 20px;
    }
    .rather-modal .modal-dialog {
      margin-top: 40% !important;
    }
}
@media(min-width:501px){
    h1 {
        font-size: 40px;
    }
    h2 {
        font-size: 40px;
    }
}
/* s */
@media(min-width:768px){
    h1 {
        font-size: 60px;
    }
}
/* m */
@media(min-width:992px){
    h1 {
        font-size: 75px;
    }
}
/* lg */
@media(min-width:1200px){
    h1 {
        font-size: 120px;
    }
}
