@import "account.less";
@import "landing.less";
@import "main.less";
@import "navigation.less";
@import "play.less";
@import "submit.less";
@import "top.less";

/* Fonts */
@title-font: 'flood-std';
@font-1: 'fira-sans-2';
@font-2: '';

@fb-link-color: #4e69a2;
@fb-link-color-dark: darken(@fb-link-color, 15%);

/* Original navy theme */
// @background-color: #0A1E3C;
// @background-image: url(./img/bright-squares.png);
// @navigation-bar: #222;
// @navigation-bar-dark: darken(@navigation-bar, 35%);
// @main-color: #FF3E21;
// @main-color-dark: darken(@main-color, 35%);
// @accent-color-1: #FF8875;
// @accent-color-1-dark: darken(@accent-color-1, 35%);
// @accent-color-2: #000;
// @accent-color-2-dark: darken(@accent-color-2, 35%);
// @font-1: 'Open Sans', sans-serif;
// @font-2: 'Open Sans', sans-serif;
// @font-color-1: #fff;
// @font-color-1-dark: darken(@font-color-1, 35%);
// @font-color-2: #000;
// @font-color-2-dark: darken(@font-color-2, 35%);

/* No man's sky */
//@background-color: #84ABA3;
// potential yellow for gradient #ECFF86
@background-color: linear-gradient(to top right, #84ABA3 50%, #5197A2);
@background-image: url(./img/asfalt-dark.png);
@navigation-bar: #222222;
@navigation-bar-dark: darken(@navigation-bar, 35%);
@main-color: #D63D52;
@main-color-dark: darken(@main-color, 15%);
@accent-color-1: #ff8091;
@accent-color-1-dark: darken(@accent-color-1, 15%);
@accent-color-2: #ECFF86;
@accent-color-2-dark: darken(@accent-color-2, 35%);
@font-color-1: #fff;
@font-color-1-dark: darken(@font-color-1, 35%);
@font-color-2: #000;
@font-color-2-dark: darken(@font-color-2, 35%);
