<div class="flex-container flex-container-list">
<div id="divLeftBuffer" class="col-xs-0 col-md-1">
</div>
<div class="col-xs-12 col-md-10 text-center">
    <h1 class="col-xs-12 title">About</h1>
    <div class="col-xs-12 text-center remove-side-padding">
        <h2>Unless you had a terrible childhood, you already know how to play! Terrible childhood aside, here's some info about this site:</h2>
        <div class="row landing-row text-left">
            <div class="col-xs-12 col-md-4 about-content">
                <h2 class="text-center about-title"><b>Play</b></h2>
                <p>
                    <ul>
                        <li>
                            Every time you choose a Rather, you are voting.
                        </li>
                        <li>
                            Community votes affect matches:
                            <ul>
                                <li>
                                    Each Rather has a win percentage.
                                </li>
                                <li>
                                    The first Rather selected for a match is completely random.
                                </li>
                                <li>
                                    The second Rather selected will have the closest possible win percentage to the competing Rather (Hopefully creating a good matchup).
                                </li>
                            </ul>
                        </li>
                        <li>
                            Use the <b>This Sucks</b> button ESPECIALLY for Rathers that don't make any sense. You won't see that shit anymore.
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-xs-12 col-md-4 about-content">
                <h2 class="text-center about-title"><b>Submit</b></h2>
                <p>
                    <ul>
                        <li>
                            Create an account and log in to start submitting your own Rathers.
                        </li>
                        <li>
                            A prompt is given on the <b>Submit</b> page. Your Rather does NOT need to be related to the prompt:
                            <ul>
                                <li>
                                    A Rather works best when it starts with a verb in the present tense (walk, jump, murder, etc.). Just use your best judgment, k?
                                </li>
                            </ul>
                        </li>
                        <li>
                            See if you can create the most Rather'd Rather! You probably won't, but give it a shot!
                        </li>
                    </ul>
                </p>
            </div>
            <div class="col-xs-12 col-md-4 about-content">
                <h2 class="text-center about-title"><b>Track</b></h2>
                <p>
                    <ul>
                        <li>
                            View which Rathers are the most popular/controversial within the community.
                        </li>
                        <li>
                            Keep an eye on your own submitted Rathers on your user page:
                            <ul>
                                <li>
                                    Rathers that have been <b>This Sucks</b>'d enough, will become deactivated for the community.
                                </li>
                                <li>
                                    Your user page is where you will see if one of your Rathers has been de-activated (Sucks bro).
                                </li>
                            </ul>
                        </li>
                    </ul>

                </p>
            </div>
        </div>
    </div>
</div>
<div id="divRightBuffer" class="col-xs-0 col-md-1">
</div>
</div>
